.site-branding {
	width: 300px;
	margin: 40px auto 40px auto;
}
.nav-menu {
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
	font-family: helvetica;
	font-weight: bold;
	font-size: 1.3em;
	letter-spacing: 3px;
	flex: 0 1 1000px;
}
.main-navigation a {
	color: white;
}
.menu {
	background: #FF5F00;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
}
.entry-title {
	padding: 0;
	margin: 0 auto;
}
@media (min-width: 800px) {
  .site-branding {
    width: 500px;
		margin: 80px auto 80px auto;
  }
}
